[Unit]
Description=Disable ACQ100S ethernet adapter before going to sleep
Before=sleep.target
StopWhenUnneeded=yes

[Service]
Type=oneshot
RemainAfterExit=yes

ExecStart=/bin/bash -c "echo 0000:09:00.0 > /sys/bus/pci/drivers/atlantic/unbind"

[Install]
WantedBy=sleep.target
